{%extends "account/base.html"%}
{% load crispy_forms_tags  %}
{% load staticfiles %}

{% block title %}
<title> home</title>
	{% endblock %}
  {% block javascript %}
  <!--script src="{%static 'JAVASCRIPT/C_langugejavascript/compiler.js' %}"></script-->
  {% endblock %}

	{% block css %}
     <link rel="stylesheet" type="text/css" href="{% static 'CSS\base.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '\CSS\c.css' %}">

	{% endblock %}
	

	{% block site_wrapper %}
 
  <!--h1> welecome {{ user_id.first_name|capfirst}}</h1-->
<div id="container"  width ='29' >
<div id="divlines"  width ='29' >
</div>
</div>
<div id ='class'>


<form id="form"   enctype="multipart/form-data">
  {% csrf_token %}
   
  <textarea id="text1"type="text" name="code" rows="15" cols="100" onkeyup="Allow()">
  </textarea><br>
   
     <input type="submit" id="submit" class="btn btn-success" value="execute">
	</form>



  <div id ='containers' cols="10" align="left" onkeyup="Allow()">
  <div id="outputdata">
    <h2 style="color: blue;">output:</h1> 
      <br>
     <h4 id ="result" style="color: black;"></h4>
    </div>
    </div>

   </div>
 
<script src="{%static 'JAVASCRIPT/c_langugejavascript/compiler.js' %}"></script>
<!--script src="{%static 'JAVASCRIPT/c_langugejavascript/ajexforaoutput.js' %}"></script-->
<script type="text/javascript">
        $(function() {
            function call_ajax(f) {
             
               var data=$('#text1').val();
               
               data={'data':data,'csrfmiddlewaretoken':$("input[name=csrfmiddlewaretoken]").val()};
                //console.log(data);
                $.ajax({
                    url: "{% url 'C_language:c_compile' %}",//'/heart/pridict/',
                    data: data,
                    type: 'POST',
                    success: f,
                    error: function(error) {
                       
                    }
                });
            }

           function server_response(response) {
               
               const r = JSON.parse(response);
              
                  if (r['error']!=null) {
                  var text = document.createElement("I");
                  text.innerHTML = '<strong id="result value="">'+'</strong>';
                  text.innerHTML = '<h3 style="color: red;">'+String(r['error'])+'</h3>' ; 
                  
               $('#result').html(text);
              
               }

               else{
                  var text = document.createElement("I");
                  text.innerHTML = '<strong id="result value="">'+'</strong>';
                  text.innerHTML = '<h3 style="color: green;">'+r['output']+'</h3>' ; 
                  //console.log(text);
                  console.log(r)
                   $('#result').html(text);

               
              }
            }
            
            $('#form').submit(function(e) {
                e.preventDefault();
                call_ajax(server_response);
            });
        });
    </script>

      
  
  


    

 {% endblock %}